{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="page-container">
    {% include 'dashboard/userbar.html' %}

    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Category List</h2>
                            <a class="au-btn au-btn-icon au-btn--blue" href="{% url 'category_create' %}">
                                <i class="zmdi zmdi-plus"></i> Add
                            </a>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Slug</th>
                                        <th>Created At</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in categories %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ category.title }}</td>
                                        <td>{{ category.slug }}</td>
                                        <td>{{ category.created_at }}</td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a class="item" href="{% url 'category_edit' pk=category.id %}" title="Edit">
                                                    <i class="zmdi zmdi-edit text-warning"></i>
                                                </a>
                                                <a class="item" href="{% url 'category_delete' pk=category.id %}" title="Delete">
                                                    <i class="zmdi zmdi-delete text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5">No categories found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
