{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="page-container">
    <!-- HEADER DESKTOP -->
    {% include 'dashboard/userbar.html' %}
    <!-- HEADER DESKTOP -->

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">
                                {% if form.instance.pk %}Edit Team Member{% else %}Add Team Member{% endif %}
                            </h2>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Our Team</strong>
                                <small> Form</small>
                            </div>
                            <div class="card-body card-block">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-control-label">Image</label><br>
                                        {% if form.instance.image %}
                                            <img src="{{ form.instance.image.url }}" alt="Current Image" style="width:150px; height:auto; margin-bottom:10px;">
                                        {% endif %}
                                        {{ form.image }}
                                    </div>

                                    {% if form.instance.pk %}
                                    <button type="submit" class="btn btn-warning btn-md">Save</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-success btn-md">Add</button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END MAIN CONTENT -->
</div>
{% endblock %}
